%h4= @report.contents['name']
- multiselects = []
= form_tag run_canned_report_path(@report.id) do
  - @report.contents['parameters'].each do |input|
    .field
      = label_tag input['name'], input['label']
      - case input['type']
      - when 'checkbox'
        = hidden_field_tag input['name'], '0'
        = check_box_tag input['name']
      - when 'date'
        = date_field_tag input['name'], { include_blank: true, default: nil, use_short_month: true }
      - when 'multi-select'
        - multiselects << input['name']
        = select_tag input['name'], options_for_select(input['values']), include_blank: true, multiple: true
      - when 'preset-date-range'
        = select_tag input['name'], options_from_collection_for_select(Report::PRESET_DATE_RANGES, 'first', 'last'), { include_hidden: false, include_blank: 'Use Start and End Dates', default: nil }
      - when 'radio'
        .input-group
          - input['values'].keys.each do |key|
            = radio_button_tag input['name'], key
            = label_tag input['name'], key.titleize
            %br
      - when 'text'
        = text_field_tag input['name']
  .actions
    = submit_tag "Run",
                class: "btn btn-primary"

- if @results.count == 0
  No Results
  %br
- else
  = render 'results'
  = button_to 'Export', export_canned_report_path(:id => @report.id), method: :get, class: 'btn pull-right btn-primary'
%button{ "data-toggle" => "collapse", :href => "#sql" } Show SQL
.collapse#sql
  %p
  = @sql
%br
%button{ "data-toggle" => "collapse", :href => "#errors" } Show Errors
.collapse#errors
  %p
  = @errors
%br

- if multiselects.count > 0
  - multiselects.each do |multiselect|
    :javascript
      $("##{multiselect}").multiSelect();
