%h4= @report.name
= form_tag run_canned_report_path(@report.id) do
  = render partial: 'shared/canned_report_form', locals: { report: @report, params: @params}
  .actions
    = submit_tag 'Run',
                class: "btn btn-primary"
    = submit_tag 'Email',
                class: "btn btn-secondary",
                formaction: email_canned_report_path
    = submit_tag 'Create Sheduled Report',
                class: "btn btn-secondary",
                formaction: create_scheduled_report_path,
                onclick: "return validateScheduleForm();"

- if @results.nil?
  %br
- elsif @results.count == 0
  %h3 No Results
  %br
- elsif @results.count > 0
  = render 'results'
  = button_to 'Export', export_canned_report_path(:id => @report.id), params: @params, method: :get, class: 'btn pull-right btn-primary'
%button{ "data-toggle" => "collapse", :href => "#sql" } Show SQL
.collapse#sql
  %p
  = @sql
%br
- if @errors.present?
  %h3 Errors
  - @errors.each do |error|
    %p= error
%br
