%h1 Editing scheduled_report

= form_tag scheduled_report_path(@scheduled_report.id), method: :put do
  = render partial: 'shared/canned_report_form', locals: { report: @scheduled_report.canned_report, params: @scheduled_report.params, email: @scheduled_report.email, name: @scheduled_report.name, schedule: @scheduled_report.schedule['rrules'][0].to_hash }
  .actions
    %table
      %tr
        %td= button_to 'Update', scheduled_report_path(@scheduled_report), method: :put, onclick: "return validateScheduleForm();", class: 'btn btn-primary'
        %td= button_to 'Show', @scheduled_report, method: :get, class: 'btn btn-secondary'
        %td= button_to 'Back', scheduled_reports_path, method: :get, class: 'btn'
