%h1 Listing scheduled_reports

%table.table.table-striped.condensed
  %thead
    %tr
      %th Canned report
      %th Email
      %th Last run at
      %th Schedule
      %th
      %th

  %tbody
    - @scheduled_reports.each do |scheduled_report|
      %tr
        %td= scheduled_report.canned_report_id
        %td= scheduled_report.email
        %td= scheduled_report.last_run_at
        %td= scheduled_report.schedule_humanize
        %td= link_to 'Show', scheduled_report
        %td= link_to 'Destroy', scheduled_report, method: :delete, data: { confirm: 'Are you sure?' }
