%p#notice= notice

%p
  %b Canned report:
  = @scheduled_report.canned_report_id
%p
  %b Email:
  = @scheduled_report.email
%p
  %b Params:
  = @scheduled_report.params
%p
  %b Last run at:
  = @scheduled_report.last_run_at
%p
  %b Cancel:
  = @scheduled_report.cancel
%p
  %b Schedule:
  = @scheduled_report.schedule

= link_to 'Edit', edit_scheduled_report_path(@scheduled_report)
\|
= link_to 'Back', scheduled_reports_path
