%p#notice= notice

%p
  %b Canned report:
  = @scheduled_report.canned_report_id
%p
  %b Email:
  = @scheduled_report.email
%p
  %b Last run at:
  = @scheduled_report.last_run_at
%p
  %b Schedule:
  = IceCube::Schedule.from_hash(@scheduled_report.schedule).to_s

= link_to 'Back', scheduled_reports_path
