= "Canned Report - #{@name}"

= "Hello, attached please find the report for #{@report_name} run at #{@run_time_text} on #{Socket.gethostname}."

Please copy the following link and paste it into your browser to view the report:
= @report_url

Params:

Name: Value

- @params.each do |key, value|
  = raw("#{key}: #{value}")
