= "Canned Report - #{@name}"

= "Hello, attached please find the report for #{@report_name} run at #{@run_time_text} on #{Socket.gethostname}."

Params:

Name: Value

- @params.each do |key, value|
  = raw("#{key}: #{value}")
